---
import Header from "../components/Header.astro";
import "../styles/global.css";

const {
  pageTitle,
  sTitle,
  sDescription,
  sType = "website",
  sImage = "https://kmishmael.tech/images/landing-frame.png",
  sCreator = "@kmishmael20",
  sCard = "summary_large_image",
} = Astro.props;


const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <title>{pageTitle}</title>

    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="description" content={sDescription} /><meta
      name="robots"
      content="index, follow"
    /><meta property="og:title" content={sTitle} />
    <meta property="og:description" content={sDescription} /><meta
    <meta
      property="og:type"
      content={sType}
    /><meta property="og:image" content={sImage} /><meta
      property="og:url"
      content={canonicalURL}
    /><meta name="twitter:card" content={sCard} /><meta
      name="twitter:creator"
      content={sCreator}
    />

  </head>
  <body class="">
    <Header />

    <br />
    <div
      class="px-4 sm:px-20 md:px-36 leading-[1.5] mx-auto flex flex-col min-h-screen h-full justify-between"
    >
      <div>
        <slot />
      </div>
      <div class="h-28"></div>
      <!-- <Footer /> -->
    </div>
  </body>
</html>
