---
import TableOfContents from "../components/TableOfContents.astro";
import { SEO } from "astro-seo";

import BaseLayout from "./BaseLayout.astro";
const { frontmatter, headings, url } = Astro.props;
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
  .tag {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
</style>

<div transition:name=`media-image-${url}`>
  <BaseLayout
    pageTitle=`${frontmatter.title} | Kibet Ismael`
    sImage=`https://kmishmael.tech/og/${url.split('/')[url.split('/').length - 1]}.png`
    sType="article"
    sDescription={frontmatter.description}
    sTitle=`${frontmatter.title} | Kibet Ismael`
  >
    <div
      class="blob w-full h-[510px] md:h-[650px] absolute top-0 left-0 -z-10 bg-opacity-60 bg-gradient-to-b from-teal-200 to-white"
    >
    </div>
    <br />
    <div class="flex flex-row gap-4">
      {
        frontmatter.tags.map((tag: any) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </p>
        ))
      }
    </div>
    <br />
    <h2 class="text-4xl md:text-6xl font-semibold">
      {frontmatter.title}
    </h2>
    <br />
    <p class="font-semibold text-normal">
      {
        new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "2-digit",
        })
      }
    </p>
    <br />

    <div class="grid grid-cols-12 gap-3 flex-col-reverse">
      <div
        class="md:col-span-9 order-last md:order-first col-span-12 prose-slate prose-lg lg:prose-xl dark:prose-invert prose-headings:font-heading prose-headings:leading-relaxed max-sm:prose-headings:mb-4 max-sm:prose-headings:my-8 max-sm:prose-headings:text-3xl prose-headings:tracking-tighter prose-headings:font-semibold prose-a:text-blue-600 dark:prose-a:text-blue-400"
      >
        <slot />
      </div>
      <div class="md:col-span-3 col-span-12 p-1">
        <p>Written by</p>
        <div class="flex flex-row py-2 gap-4 items-center">
          <div class="h-10 w-10 rounded-full overflow-hidden border">
            <img
              src="/images/avatar.avif"
              class="object-contain"
              alt="image of author"
            />
          </div>
          <p class="font-semibold">Kibet Ismael</p>
        </div>
        <br />
        <div class="hidden md:static">
          <p>In this post</p>
          <div class="ml-3 py-1">
            <TableOfContents headings={headings} />
          </div>
        </div>
      </div>
    </div>
  </BaseLayout>
</div>
